html {
    font-size: 62.5%;
}
body {
	margin: 0;
	font-family: MicrosoftYaHei,Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,\\5FAE\8F6F\96C5\9ED1,Arial,sans-serif;
	font-weight: 400;
}
p {
	margin: 0;
}
a {
	text-decoration: none;
	color: #333;
}